<div class="container">
    <h2>QuizApp</h2>

    <ul>
        <li routerLink="/home" routerLinkActive="router-link-active">
            <mat-icon>home</mat-icon>
            <a>Home</a>
            <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        </li>
        <li routerLink="/category" routerLinkActive="router-link-active">
            <mat-icon>category</mat-icon>
            <a>Category</a>
            <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        </li>
        <li>
            <mat-icon>contact_support</mat-icon>
            <a>Quiz</a>
            <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        </li>
        <li>
            <mat-icon>account_circle</mat-icon>
            <a>Users</a>
            <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        </li>
        <li>
            <mat-icon>history</mat-icon>
            <a>History</a>
            <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        </li>
    </ul>
</div>