.arrow {
    margin-left: 40px;
}

mat-icon {
    color: white;
}

body {
  display: flex;
  flex-direction: column;
}
.footer {
  flex: 1;
}

.container {
  width: 100%;
  min-height: 100%;
}

.sidenav-content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  .footer {
    flex: 1;
  }
}

.sidenav {
  height: 100vh;
  background: #ffffff;
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px rgba(47, 90, 149, 0.05);

  &:hover {
    mat-list-item a {
      animation-name: slide;
      animation-duration: 200ms;
      animation-timing-function: ease-out;
    }
  }

  mat-nav-list {
    padding: 0 10px !important;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #2F3C4E;

    .spacer {
      height: 20px;
    }
  }

  mat-list-item {
    a {
      margin-right: 10px;
      font-weight: 500 !important;
      color: darkcyan;
    }

    .MainText {
      color: cyan;
    }

    &.logo {
      height: 64px;
    }

    .icon {
      color: darkcyan;
    }
  }

  .router-link-active {
    color: cyan;

    a {
      color: cyan;
    }
  }
}

::ng-deep .sidenav {
  overflow-y: unset !important;
}
