<div class="container">
  <span class="material-icons">
    person_add
  </span>

  <p class="registerText">Register</p>
  <div class="registerUnderline"></div>

  <form [formGroup]="registerForm" style="display:flex; flex-direction: column;">
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input formControlName="email" matInput placeholder="email">
    </mat-form-field>

    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput placeholder="username">
    </mat-form-field>
  
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
    </mat-form-field>

    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input formControlName="repeatPassword" matInput [type]="hide ? 'password' : 'text'">
    </mat-form-field>
  </form>

  <section class="example-section">
    <mat-checkbox [(ngModel)]="accepted" class="example-margin">I accept the license terms and regulations</mat-checkbox>
  </section>

  <button class="register" (click)="register()" [disabled]="!accepted" mat-raised-button>Register</button>
</div>
