.container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .categories {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;        
        .header {
            width: 90%;
            margin-right: 2px;
        }
        .text {
            margin-bottom: 4px;
        }
        .line {
            width: 100%;
        }
    
        .category-container {
            display: flex;
            justify-content: start;
            align-items: flex-start;      
            margin: 20px 0 20px 0;
            


            
        }
    }

}