.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #login {
    font-size: 110px;
    color: #78EFF6;
  }

  .login-text {
    width: 192px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid #69D1D7;

    p {
      font-size: 35px;
      padding: 0;
    }
  }

  .form-input {
    width: 483px;
    height: 83px;
    margin-top: 10px;

    ::ng-deep .mat-form-field-flex {
      background-color: #E8FEFF;
      border-bottom: 7px solid #57CBD2;

    }

  }

  .log-in {
    width: 475px;
    height: 83px;
    background: #78EFF6;
    border-radius: 5px;
    font-size: 39px;
  }

  .cant-sign {
    color: grey;
  }

  .register {
    margin-top: 30px;
    font-size: 39px;
    border-color: #c4c4c4b6;
    width: 575px;
    height: 69px;
  }
}
