
.mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}
.mat-form-field-appearance-outline .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border: none !important;
}
