.container {
  display: flex;
  height: 100vh;
  width: 150px;


  .categories-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 45px;
    margin-bottom: 10px;
    border-bottom: solid 5px #E0DCDC;
    background-color: #EFEFEF;
  }

  .categories {
    display: inline-block;
    
    justify-content: center;

    th {
      width: 100%;
      border-bottom: 5px solid #57CBD2;
    }
  }
}
