.container {
  display: flex;
  width: 100%;
  height: 100%;

  .topbar {
    width: 100%;
    height: 50px;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;

    .left {
      width: 5%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;

      .hamburger-btn {
        align-items: start;
        display: flex;
        justify-content: start;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 95%;
    }

    .acc-icon {
      right: 0;
      width: 55px;
      height: 50px;
    }

    .newquiz-btn {
      color: white;
      background-color: #57CBD2;
      width: 100px;
      height: 35px;
      border-radius: 60px;
      margin: 20px;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 10px;
    }
  }
}
